<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark p-2">
    <a class="navbar-brand col-md-0 ml-3" routerLink="">
      <svg aria-hidden="true"
           data-prefix="fas"
           data-icon="cross"
           class="lock-svg-title text-white"
           role="img" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 384 512">
        <path fill="currentColor"
              d="M352 128h-96V32c0-17.67-14.33-32-32-32h-64c-17.67 0-32 14.33-32 32v96H32c-17.67 0-32 14.33-32 32v64c0 17.67 14.33 32 32 32h96v224c0 17.67 14.33 32 32 32h64c17.67 0 32-14.33 32-32V256h96c17.67 0 32-14.33 32-32v-64c0-17.67-14.33-32-32-32z">
        </path>
      </svg>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="show" class="nav-item">
          <a class="nav-link" routerLink="/PickOne" routerLinkActive="active">Pick One</a>
        </li>
        <li *ngIf="show" class="nav-item">
          <a class="nav-link" routerLink="/Saved" routerLinkActive="active">Saved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <ul *ngIf="!show" class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Login" routerLinkActive="active">Login</a>
        </li>
      </ul>
      <ul *ngIf="show" class="navbar-nav mt-2 mt-md-0">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle
             class="nav-link dropdown-toggle"
             id="navbarDropdownMenuLink"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            {{username}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/Manage">Manage</a>
            <div class="dropdown-item">
              <p>Number of Vercicles</p>
              <input #range
                     [(value)]="rangeValue"
                     (change)="onChange(range.value)"
                     type="range"
                     class="custom-range"
                     min="1"
                     max="20">
            </div>
            <div class="dropdown-item">
              <p>
                Inline Vercicle text
                <input [(checked)]="checkboxInline"
                       (change)="checkboxChange()"
                       type="checkbox"
                       class="" />
              </p>
            </div>
            <a class="dropdown-item" href="#">Fetch Data</a>

          </div>
        </li>
        <li class="nav-item">
          <a (click)="userLogout()" class="nav-link" routerLink="/" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
