<h2>Change Password</h2>
<h4>Reset your password</h4>
<hr />
<div class="col-md-4">
  <section>
    <div class="form-group">
      <div class="col-md-10">
        <label>Current password</label>
        <input #oldPassword class="form-control" type="password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <label>New password</label>
        <input #newPassword class="form-control" type="password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <label>Confirm new password</label>
        <input #confirmPassword class="form-control" type="password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button (click)="changePassword(oldPassword.value, newPassword.value, confirmPassword.value);" type="submit"
                class="btn btn-default">
          Change
          password
        </button>
      </div>
    </div>
  </section>
</div>
<hr />
