<h2>Forgot your password?</h2>
<h4>Enter your email.</h4>
<hr />
<div class="col-md-4">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address."
           data-val-required="The Email field is required." id="Email" name="Email" value="" type="email" />
    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</div>
<hr />
