<div class="home-flex">
  <div class="unlock-flex">
    <svg aria-hidden="true"
         data-prefix="fas"
         data-icon="cross"
         class="lock-svg text-dark"
         role="img" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 384 512">
      <path fill="currentColor"
            d="M352 128h-96V32c0-17.67-14.33-32-32-32h-64c-17.67 0-32 14.33-32 32v96H32c-17.67 0-32 14.33-32 32v64c0 17.67 14.33 32 32 32h96v224c0 17.67 14.33 32 32 32h64c17.67 0 32-14.33 32-32V256h96c17.67 0 32-14.33 32-32v-64c0-17.67-14.33-32-32-32z">
      </path>
    </svg>
  </div>
  <div class="text-flex">
    <h1 class="text-dark">Default Login</h1>
    <p>
      Builded with the most responsive and used tools on the market, Default Login is a substitute for Hazor default
      Visual Studio front-end.
    </p>
    <p>
      This App helps us get a start with a Login and management account user. We used some technologies like Angular,
      Typescript, Bootstrap to name few.
    </p>
    <p>
      The back-end (Rest API), we used ASP.Net, C# and SQLServer to manage the requests.
    </p>
    <a href="https://github.com/gustavoesteves/angularlogin" class="btn btn-outline-primary btn-lg">Go to GitHub</a>
  </div>
</div>
<hr>
